<p id="notice"><%= notice %></p>

<div class="title has-text-centered mt-2">
  Events
</div>

<div class="title is-4 has-text-centered">
  Upcoming Events
</div>


<div class="columns is-multiline is-mobile is-centered">
  <% Event.upcoming.each do |event| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= event.title %>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            @<%= event.location %><br />
            <%= event.description %>
            <br>
            <%= event.start_time %>
            <%= event.end_time %>
          </div>
        </div>
        <footer class="card-footer">
          <%= link_to 'Show', event, class: "card-footer-item" %>
        </footer>
      </div>
    </div>
  <% end %>
</div>

<div class="title is-4 has-text-centered">
  Past Events
</div>

<div class="columns is-multiline is-mobile is-centered">
  <% Event.past.each do |event| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= event.title %>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            @<%= event.location %><br />
            <%= event.description %>
            <br>
            <%= event.start_time %>
            <%= event.end_time %>
          </div>
        </div>
        <footer class="card-footer">
          <%= link_to 'Show', event, class: "card-footer-item" %>
        </footer>
      </div>
    </div>
  <% end %>
</div>

